body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  text-align: center;
}
h1,
h2,
h3 {
  font-weight: 800;
  margin: 5% 10% 5% 10%;
}
p {
  color: hsl(201, 11%, 66%);
  font-weight: 700;
  margin: 3% 15% 5% 15%;
  padding-bottom: 3%;
}
#header {
  background-image: url("/images/bg-header-desktop.png");
  background-repeat: no-repeat;
}
.header-container {
  padding: 15% 3% 5% 3%;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.btn {
  border-radius: 25px;
  padding: 2%;
  font-weight: 400;
  width: 35%;
}
.btn + .btn {
  margin-left: 30px;
}

.main-container {
  margin-top: 3%;
}

.computer {
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "a b"
    "a c"
    "a d";
  margin-top: 5%;
}
.computer-image {
  grid-area: a;
  align-self: center;
}
.computer-image img {
  max-width: 100%;
  height: auto;
}
.quick {
  grid-area: b;
}
.cloud {
  grid-area: c;
}
.history {
  grid-area: d;
}
.access img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
}
.companies {
  display: grid;
  grid-auto-flow: column;
  margin: 5% 10% 5% 10%;
  padding: 5%;
}
.companies a {
  padding: 5%;
}
.create-plain-sneak {
  display: grid;
  grid-auto-flow: column;
  margin: 5% 2% 5% 2%;
}
.create-plain-sneak h2 {
  margin: 5% 2% 3% 2%;
  padding: 0;
}
.create-plain-sneak img {
  height: 50px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.info {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "a b c d e"
    "a f g . e";
  margin: 5% 5% 5% 5%;
}
.footer-logo {
  grid-area: a;
}
.contact {
  grid-area: e;
}
.footer-container img {
  width: 50px;
  height: 50px;
}
@media only screen and (max-width: 576px) {
  .btn + .btn {
    margin-left: 0;
  }
  .buttons {
    flex-direction: column;
    align-items: center;
  }
  .btn {
    width: 70%;
    margin-top: 10px;
  }
  .companies {
    grid-auto-flow: row;
    margin: 5% 5% 5% 5%;
    padding: 5%;
  }
  .create-plain-sneak {
    grid-auto-flow: row;
  }
  .computer {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d";
  }

  .info {
    display: block;
    padding-top: 5%;
  }
  .info a {
    display: block;
    padding-top: 5%;
  }
  .contact a {
    display: inline-block;
    padding-top: 5%;
  }
}
